@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<head>
    <script src="~/Content/js/validate/jquery.validate-1.13.1.js"></script>
</head>
<script>    
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/UniversityManage/Student/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        $("#F_Gender").bindSelect()
        $("#Nationality").bindSelect()
        $("#CensusType").bindSelect()
        $("#CertificateType").bindSelect()
        $("#MaritalStatus").bindSelect()
        $("#F_EnabledMark").bindSelect()
    }
        
    function submitForm() {
        $(document).ready(function () {
            $("form1").validate({
                rules: {
                    Account: { required: true },
                    UserName: { required: true },
                    CampusCode: { required: true },
                    Telephone: { required: true, maxlenght: 11 },
                },
                messages: {
                    Account: { required: "请输入学号" },
                    UserName: { required: "请输入姓名" },
                    CampusCode: { required: "请输入校园卡号" },
                    Telephone: {
                        required: "请输入手机号",
                        maxlenght: "手机号最大长度为11位"
                    }
                }
            });
        });
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/UniversityManage/Student/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">学&nbsp;&nbsp;&nbsp;&nbsp;号</th>
                    <td class="formValue">
                        <input id="Account" name="Account" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">姓&nbsp;&nbsp;&nbsp;&nbsp;名</th>
                    <td class="formValue">
                        <input id="Name" name="Name" type="text" class="form-control required" />
                    </td>
                    <td class="formValue" rowspan="6">
                        <img src="~/Content/img/Photo.png" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">校园卡号</th>
                    <td class="formValue">
                        <input id="CampusCode" name="CampusCode" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">出生日期</th>
                    <td class="formValue">
                        <input id="Birthday" name="Birthday" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">性&nbsp;&nbsp;&nbsp;&nbsp;别</th>
                    <td class="formValue">
                        <select id="Sex" name="Sex" class="form-control required">
                            <option value="true">男</option>
                            <option value="false">女</option>
                        </select>
                    </td>
                    <th class="formTitle">民&nbsp;&nbsp;&nbsp;&nbsp;族</th>
                    <td class="formValue">
                        <select id="Nationality" name="Nationality" class="form-control required">
                            <option value="true">汉族</option>
                            <option value="false">少数民族</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">籍&nbsp;&nbsp;&nbsp;&nbsp;贯</th>
                    <td class="formValue">
                        <input id="Birthplace" name="Birthplace" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">政治面貌</th>
                    <td class="formValue">
                        <input id="Political" name="Political" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">户口类型</th>
                    <td class="formValue">
                        <select id="CensusType" name="CensusType" class="form-control required">
                            <option value="true">城镇</option>
                            <option value="false">农村</option>
                            <option value="false">其他</option>
                        </select>
                    </td>
                    <th class="formTitle">联系电话</th>
                    <td class="formValue">
                        <input id="Telephone" name="Telephone" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">证件类型</th>
                    <td class="formValue">
                        <select id="CertificateType" name="CertificateType" class="form-control">
                            <option value="true">学生证</option>
                            <option value="true">文职干部证</option>
                        </select>
                    </td>
                    <th class="formTitle">证件号码</th>
                    <td class="formValue">
                        <input id="CertificateCode" name="CertificateCode" type="text" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="border:1px dashed #808080;width:auto;height:1px;margin:10px 10px;"></div>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">宿&nbsp;&nbsp;&nbsp;&nbsp;舍</th>
                    <td class="formValue">
                        <input id="DormitoryCode" name="DormitoryCode" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">入学年级</th>
                    <td class="formValue">
                        <input id="EntryGrade" name="EntryGrade" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">辅 导 员</th>
                    <td class="formValue">
                        <input id="Counselor" name="Counselor" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">培养层次</th>
                    <td class="formValue">
                        <input id="TrainingLevel" name="TrainingLevel" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">班&nbsp;&nbsp;&nbsp;&nbsp;级</th>
                    <td class="formValue">
                        <input id="ClassCode" name="ClassCode" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">导员电话</th>
                    <td class="formValue">
                        <input id="CounselorPhone" name="CounselorPhone" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">婚姻状况</th>
                    <td class="formValue">
                        <select id="MaritalStatus" name="MaritalStatus" class="form-control">
                            <option value="true">未婚</option>
                            <option value="true">已婚</option>
                            <option value="true">离异</option>
                        </select>
                    </td>
                    <th class="formTitle">专&nbsp;&nbsp;&nbsp;&nbsp;业</th>
                    <td class="formValue">
                        <input id="Profession" name="Profession" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">院&nbsp;&nbsp;&nbsp;&nbsp;系</th>
                    <td class="formValue">
                        <input id="DepartmentName" name="DepartmentName" type="text" class="form-control" />
                    </td>
                </tr>

            </table>
        </div>
        <div style="border:1px dashed #808080;width:auto;height:1px;margin:10px 10px;"></div>
        <div style="padding-top: 20px; margin-right: 30px; margin-bottom:30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">家庭电话</th>
                    <td class="formValue">
                        <input id="Phone" name="Phone" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">家庭地址</th>
                    <td class="formValue">
                        <input id="Address" name="Address" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">作息规律</th>
                    <td class="formValue">
                        <input id="LawRest" name="LawRest" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">兴趣爱好</th>
                    <td class="formValue">
                        <input id="Hobby" name="Hobby" type="text" class="form-control" />
                    </td>
                </tr>

            </table>
        </div>
    </div>
</form>
